<h2>Posts  (<%= link_to "create new post", new_post_path %>)</h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post.id %>">
        <%= post.title %>
      </a>
    </li>
  <% end %>
</ul>
